body,
html,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.controls {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);

    label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 4px;
        cursor: pointer;
    }

    input {
        margin: 0;
    }
}
